@import url('@/variables.less');

.client-members {
    display: flex;
    flex-direction: column;
    height: 100%;

    * {
        box-sizing: border-box;
    }

    .header {
        width: 100%;
        padding: @padding-vertical-width @padding-horizontal-width;
        display: flex;
        justify-content: space-between;
    }
}
