@import url('@/variables.less');

.client-workstation-page {
    position: relative;

    &.offline {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-container {
        background-color: @bg-widget-color;

        .tabs {
            display: flex;

            .tabs-wrapper {
                flex-grow: 1;
                flex-shrink: 1;

                .simplebar-content {
                    display: flex;
                    align-items: stretch;
                    flex-grow: 1;
                    display: flex;
                }
            }

            .buttons-wrapper {
                box-sizing: border-box;
                flex-grow: 0;
                flex-shrink: 1;
                border-bottom: 1px solid @bg-divider-color;
                border-left: 1px solid @bg-divider-color;
                display: flex;
                justify-content: center;
                align-items: center;

                &.floating {
                    justify-content: flex-start;
                    padding-left: @padding-horizontal-width;
                    border-left: 0;
                }

                &.placeholder {
                    flex-grow: 1;
                    min-width: 0;
                    border: 0;
                    border-bottom: 1px solid @bg-divider-color;
                }
            }

            .tabs-cursor {
                width: 0;
            }
        }
    }

    .panel-wrapper {
        .simplebar-content {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .channel-not-selected {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .empty-tabs {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .exception.welcome {
            img {
                width: 120px;
                height: 120px;
            }

            .title {
                margin-top: 50px;
                font-size: 18px;
            }

            .subtitle {
                margin-top: 15px;
                margin-bottom: 50px;
            }
        }
    }
}
