@font-face {
  font-family: 'pugio-icons';
  src:  url('fonts/pugio-icons.eot?b6v4g');
  src:  url('fonts/pugio-icons.eot?b6v4g#iefix') format('embedded-opentype'),
    url('fonts/pugio-icons.ttf?b6v4g') format('truetype'),
    url('fonts/pugio-icons.woff?b6v4g') format('woff'),
    url('fonts/pugio-icons.svg?b6v4g#pugio-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pugio-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e900";
}
.icon-unpin:before {
  content: "\e904";
}
.icon-activity:before {
  content: "\e905";
}
.icon-airplay:before {
  content: "\e906";
}
.icon-alert-circle:before {
  content: "\e907";
}
.icon-alert-octagon:before {
  content: "\e908";
}
.icon-alert-triangle:before {
  content: "\e909";
}
.icon-anchor:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e90b";
}
.icon-arrow-down-circle:before {
  content: "\e90c";
}
.icon-arrow-down-left:before {
  content: "\e90d";
}
.icon-arrow-down-right:before {
  content: "\e90e";
}
.icon-arrow-left:before {
  content: "\e90f";
}
.icon-arrow-left-circle:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-arrow-right-circle:before {
  content: "\e912";
}
.icon-arrow-up:before {
  content: "\e913";
}
.icon-arrow-up-circle:before {
  content: "\e914";
}
.icon-arrow-up-left:before {
  content: "\e915";
}
.icon-arrow-up-right:before {
  content: "\e916";
}
.icon-bell:before {
  content: "\e917";
}
.icon-bell-off:before {
  content: "\e918";
}
.icon-bookmark:before {
  content: "\e919";
}
.icon-box:before {
  content: "\e91a";
}
.icon-calendar:before {
  content: "\e91b";
}
.icon-check:before {
  content: "\e91c";
}
.icon-check-circle:before {
  content: "\e91d";
}
.icon-check-square:before {
  content: "\e91e";
}
.icon-chevron-down:before {
  content: "\e91f";
}
.icon-chevron-left:before {
  content: "\e920";
}
.icon-chevron-right:before {
  content: "\e921";
}
.icon-chevron-up:before {
  content: "\e922";
}
.icon-chevrons-down:before {
  content: "\e923";
}
.icon-chevrons-left:before {
  content: "\e924";
}
.icon-chevrons-right:before {
  content: "\e925";
}
.icon-chevrons-up:before {
  content: "\e926";
}
.icon-clipboard:before {
  content: "\e927";
}
.icon-clock:before {
  content: "\e928";
}
.icon-code:before {
  content: "\e929";
}
.icon-copy:before {
  content: "\e92a";
}
.icon-corner-down-left:before {
  content: "\e92b";
}
.icon-corner-down-right:before {
  content: "\e92c";
}
.icon-corner-left-down:before {
  content: "\e92d";
}
.icon-corner-left-up:before {
  content: "\e92e";
}
.icon-corner-right-down:before {
  content: "\e92f";
}
.icon-corner-right-up:before {
  content: "\e930";
}
.icon-corner-up-left:before {
  content: "\e931";
}
.icon-corner-up-right:before {
  content: "\e932";
}
.icon-cpu:before {
  content: "\e933";
}
.icon-database:before {
  content: "\e934";
}
.icon-delete:before {
  content: "\e935";
}
.icon-download:before {
  content: "\e936";
}
.icon-download-cloud:before {
  content: "\e937";
}
.icon-edit:before {
  content: "\e938";
}
.icon-edit-2:before {
  content: "\e939";
}
.icon-edit-3:before {
  content: "\e93a";
}
.icon-external-link:before {
  content: "\e93b";
}
.icon-file:before {
  content: "\e93c";
}
.icon-file-minus:before {
  content: "\e93d";
}
.icon-file-plus:before {
  content: "\e93e";
}
.icon-file-text:before {
  content: "\e93f";
}
.icon-filter:before {
  content: "\e940";
}
.icon-flag:before {
  content: "\e941";
}
.icon-folder:before {
  content: "\e942";
}
.icon-globe:before {
  content: "\e943";
}
.icon-grid:before {
  content: "\e944";
}
.icon-help-circle:before {
  content: "\e945";
}
.icon-home:before {
  content: "\e946";
}
.icon-info:before {
  content: "\e947";
}
.icon-layers:before {
  content: "\e948";
}
.icon-layout:before {
  content: "\e949";
}
.icon-link:before {
  content: "\e94a";
}
.icon-link-2:before {
  content: "\e94b";
}
.icon-list:before {
  content: "\e94c";
}
.icon-log-in:before {
  content: "\e94d";
}
.icon-log-out:before {
  content: "\e94e";
}
.icon-maximize:before {
  content: "\e94f";
}
.icon-maximize-2:before {
  content: "\e950";
}
.icon-menu:before {
  content: "\e951";
}
.icon-message-circle:before {
  content: "\e952";
}
.icon-message-square:before {
  content: "\e953";
}
.icon-minimize-2:before {
  content: "\e954";
}
.icon-minus:before {
  content: "\e955";
}
.icon-minus-circle:before {
  content: "\e956";
}
.icon-minus-square:before {
  content: "\e957";
}
.icon-monitor:before {
  content: "\e958";
}
.icon-more-horizontal:before {
  content: "\e959";
}
.icon-more-vertical:before {
  content: "\e95a";
}
.icon-pie-chart:before {
  content: "\e95b";
}
.icon-plus:before {
  content: "\e95c";
}
.icon-plus-circle:before {
  content: "\e95d";
}
.icon-plus-square:before {
  content: "\e95e";
}
.icon-power:before {
  content: "\e95f";
}
.icon-refresh-ccw:before {
  content: "\e960";
}
.icon-refresh-cw:before {
  content: "\e961";
}
.icon-rotate-ccw:before {
  content: "\e962";
}
.icon-rotate-cw:before {
  content: "\e963";
}
.icon-scissors:before {
  content: "\e964";
}
.icon-search:before {
  content: "\e965";
}
.icon-send:before {
  content: "\e966";
}
.icon-server:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e967";
}
.icon-share:before {
  content: "\e968";
}
.icon-shopping-bag:before {
  content: "\e969";
}
.icon-slash:before {
  content: "\e96a";
}
.icon-tablet:before {
  content: "\e96b";
}
.icon-tag:before {
  content: "\e96c";
}
.icon-terminal:before {
  content: "\e96d";
}
.icon-thumbs-down:before {
  content: "\e96e";
}
.icon-thumbs-up:before {
  content: "\e96f";
}
.icon-toggle-left:before {
  content: "\e970";
}
.icon-toggle-right:before {
  content: "\e971";
}
.icon-tool:before {
  content: "\e972";
}
.icon-trash:before {
  content: "\e973";
}
.icon-trash-2:before {
  content: "\e974";
}
.icon-trello:before {
  content: "\e975";
}
.icon-unlock:before {
  content: "\e976";
}
.icon-upload:before {
  content: "\e977";
}
.icon-upload-cloud:before {
  content: "\e978";
}
.icon-user:before {
  content: "\e979";
}
.icon-user-check:before {
  content: "\e97a";
}
.icon-user-minus:before {
  content: "\e97b";
}
.icon-user-plus:before {
  content: "\e97c";
}
.icon-user-x:before {
  content: "\e97d";
}
.icon-users:before {
  content: "\e97e";
}
.icon-x:before {
  content: "\e97f";
}
.icon-x-circle:before {
  content: "\e980";
}
.icon-x-octagon:before {
  content: "\e981";
}
.icon-x-square:before {
  content: "\e982";
}
