@import url('@/variables.less');

.client-workstation-page {
    .header-container {
        background-color: @bg-widget-color;

        .controls {
            border-bottom: 1px solid @bg-divider-color;
            padding: @padding-vertical-width @padding-horizontal-width;
            display: flex;
            align-items: center;

            .client-name {
                font-weight: 700;
                color: @text-strong-color;
            }

            .control-button {
                padding: 6px;
                font-size: 6px;
                line-height: 10px;
                font-weight: 700;
            }

            & > * {
                margin-right: 10px;
            }
        }

        .tabs {
            display: flex;

            .tabs-wrapper {
                flex-grow: 1;
                flex-shrink: 1;

                .simplebar-content {
                    display: flex;
                    align-items: stretch;
                    flex-grow: 1;
                    display: flex;
                    align-items: stretch;
                }
            }

            .add-button-wrapper {
                width: 60px;
                flex-grow: 0;
                flex-shrink: 1;
                border-bottom: 1px solid @bg-divider-color;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
