@import url('@/variables.less');

.clients-popover {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .header-wrapper {
        padding: 5px 10px;
    }

    .load-more-wrapper {
        box-sizing: border-box;
        padding: 5px;

        .load-more-button {
            &:not(:hover), &:not(:active) {
                background-color: transparent;
            }
        }
    }

    .loading-wrapper {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-wrapper {
        min-width: 300px;
        padding: 5px 10px;
    }
}
