@import url(../../variables.less);

.clients-dropdown {
    background-color: transparent;
    font-size: 14px;
    color: #333;
    text-decoration: none;

    &:hover {
        background-color: transparent;
        color: @text-hover-color;
    }
}
