.clients-popover {
    max-height: 480px;

    .list {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .list-item {
            padding-right: 10px;
        }
    }
}
