@navbar-height: 48px;
@padding-horizontal-width: 10px;
@padding-vertical-width: 10px;
@padding-sidebar-menu-item: 10px;

// colors
@bg-divider-color: #e6e6e6;
@bg-widget-color: #f9f9f9;
@text-nav-link-color: #6b6b6b;
@text-nav-link-hover-color: #212121;
@grey: #666;
@text-strong-color: darken(@text-nav-link-color, 10%);
@text-link-color: #4b768b;

// mixins
@hide-scrollbar: {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &, * {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }
}


@active-within: {
    &:active:focus,
    &:active:not(:focus):not(:focus-within) {
        background-color: darken(@bg-widget-color, 5%);;
    }
}
